{% extends "layout.html" %}

{# Setando o Style no Layout #}
{% block styles %}
    <link rel="stylesheet" href="/styles/searchResults.css">
{% endblock styles %}

{% block title %}
    <title>Resultado da Pesquisa</title>
{% endblock title %}

{# Setando uma variavel #}
{% set pageId = "page-searchResults" %}

{# Conteudo da Pagina #}
{% block content %}
    <!-- Criar um html dinamico - Puxar html de outro arquivo usando nunjucks -->
    {% include "partials/pageHeader.html" %}

    <main>

        {% if total>0 %}
            <h4>
                <strong>{{total}} pontos</strong>
                encontrados
            </h4>

            <div class="cards">

                {% for place in places %}
                    <div class="card">
                        <img src={{place.image}} alt={{place.name}}>
                        <h1>{{place.name}}</h1>
                        <h3>{{place.items}}</h3>
                        <p>
                            {{place.city}}, {{place.state}}
                            <br/>
                            {{place.address}}
                            <br/>
                            {{place.address2}}
                        </p>
                    </div>
                {% endfor %}

            </div> 

        {% else %}
        
            <h4>Local não possui pontos de coleta</h4>

        {% endif %}
   

    </main>
{% endblock content %}